// colors
@color-white: #ffffff;
@color-dark-blue: #114f96;
@color-bright-blue: #005ce5;

// gforest
@color-dark-green: #062413;
@color-floral-white: #f9fded;

// gsave | bills
@color-light-blue: #225f8c;

// a-rewards
@color-dark-lavender: #7d3f88;

//
@color-tealish-blue: #eef2f9;

// send-money
@color-aqua-haze: #EEF2F9;

// bills 
@color-pale-blue: #BCECFF;
@color-electric-blue: #08609E;
@color-dusk-blue: #225F8C;
@color-cerulean-blue: #2A5DB0;

// fonts

/**
 *
 * Proxima Soft 
 *  - Bold
 *  - Medium
 * 
 * Gotham Rnd SSm  
 *  - Bold
 * 
 * Gilroy   
 *  - Semi Bold 
 *  - Medium
 */

@font-ProximaSoft-Regular: 'ProximaSoft-Regular';
@font-ProximaSoft-Medium: 'ProximaSoft-Medium';
@font-ProximaSoft-SemiBold: 'ProximaSoft-SemiBold';
@font-ProximaSoft-Bold: 'ProximaSoft-Bold';

@font-GothamRndSSm-Bold: 'GothamRndSSm-Bold';
@font-GothamRndSSm-Medium: 'GothamRndSSm-Medium';

@font-Gilroy-Medium: 'Gilroy-Medium';
@font-Gilroy-SemiBold: 'Gilroy-SemiBold';
@font-Gilroy-Bold: 'Gilroy-Bold';

//Spacings 

@padding-cover-screens: 112px 48px 80px;
