.YearEndReview {
	* {
		box-sizing: border-box;
	}

	&__h2 {
		margin: 0;
		font-family: @font-ProximaSoft-Medium;
		font-weight: 500;
		font-size: 0.4rem;
		line-height: 1.2;
		color: rgba(241, 248, 214, 0.8);
		max-width: 18ch;

		span {
			font-family: @font-ProximaSoft-Bold;
			color: rgba(241, 248, 214, 1);
		}
	}

	&__share-cta {
		display: flex;
		justify-content: space-between;
		padding: 48px 48px 80px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
